RewriteEngine On
RewriteBase /PHP/Project-Sewa-Mobil/public/

# Cegah akses ke folder /app jika ditaruh di dalam document root (sebagai pengaman tambahan)
RewriteRule ^../app/ - [F,L]

# Blokir akses ke .env
<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Redirect semua request yang bukan file atau folder nyata ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
